//- index.jade
doctype html
html(lang = "ru")
  include includes/head.jade
  body
    #fb-root
      script.
        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.7";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

    a(class="to-top-link", href="#")
      .to-top-arrow
        img(src="images/icons/up_arrow.png", alt="Go to top arrow", srcset="images/icons/up_arrow-2X.png 2x")
    section.navigation
      .content
        .sections-pagination.text-center.text-vertical-align
          a(class="pagination-link", href="#id-main")
          a(class="pagination-link", href="#id-laws")
          a(class="pagination-link", href="#id-prices")
          a(class="pagination-link", href="#id-advantages")
          a(class="pagination-link", href="#id-how")
          a(class="pagination-link", href="#id-services")
          a(class="pagination-link", href="#id-reviews")
          a(class="pagination-link", href="#id-consult")
    .modal-holder#akciz-lower-modal
      .modal-content
        a().close-modal
        h2.text-heavy-normal Снижение акциза на автомобили - на 90%
        p.text-book-small Размер акциза зависит от трёх показателей: обьем двигателя, тип авто и его возраст. Чтобы понимать насколько снизился акциз, нужно в нашей инографике (ссылка на нашу картинку) выбрать категорию авто и соответствую ставку, и умножить эту цифру на количество кубических сантиметров рабочего обьема цилиндра. Ставка расчитывается в евро
        img(src="images/content/modal-img.jpg")
    .modal-holder#taxes-lower-modal
      .modal-content
        a.close-modal
        h2.text-heavy-normal Снижение ставок таможенной пошлины - с 10% до 9.1%
        p.text-book-small На б/у авто из Европы действует сниженая ставка 9,1% (в 2017 - 8,2%, в 2018 - 7,3%). На все остальные авто из заграницы пошлина 10%. График снижения пошлины:
        img(src="images/content/modal2-img.png")
    .modal-holder#call-back-modal
      .modal-content.modal-input
        a.close-modal
        h2.text-heavy-normal Обратный звонок
        form
          input(class="text-book-small", type="text", placeholder="Имя", name="name")
          input(class="text-book-small", type="text", placeholder="Телефон", name="phone")  
          input(class="text-heavy-small form-modal-submit", type="submit", placeholder="ОТПРАВИТЬ", name="submit")
    header.header-top
      .container
        .column-left
          .header-logo
            a(href="#")
              img(src="images/icons/logo.png", alt="Main header logo", srcset="images/icons/logo-2X.png 2x")
        .column-right
          .header-call-us
            .call-us-icon.text-vertical-align
              img(src="images/icons/icon_phone.png", alt="Call us image", srcset="images/icons/icon_phone-2X.png 2x")
            .call-us-text.text-vertical-align  
              a(class="text-light-small", href='tel:+380934427800') +380 93 442 78 00
          a(href="#", data-modal="#call-back-modal")
            .header-call-back.text-center
              p.text-bold-small.text-uppercase.text-vertical-align Обратный звонок
              
    section.section-main#id-main
      .container
        .background-text.text-uppercase
          span bamboo car
        .content 
          h1.text-top-heading
            span.text-top-heading-highlight Экономия от 500 до 4000 евро 
            | при покупке б/у авто в Европе
          p.text-light Помогаем приобрести, растаможить и оформить б/у авто из Польши и Германии
          .background-image
            img(src="images/bg/section_main_car.jpg", alt="BMW 5 Series sample image")
        
    section.section-laws#id-laws
      .container
        .content
          h2.text-main-heading Основные положения и выгоды Закона Украины №1389-19
          .list-container
            ul.list-content
              li.text-section-laws
                .list-item.list-item-big
                  .list-index.text-heavy-big
                    span 1
                  span.list-text Снижение акциза на автомобили - на 90%
                  a(class="list-link text-book-small", href="#", data-modal="#akciz-lower-modal") Читать далее
              li.text-section-laws
                .list-item.list-item-big
                  .list-index.text-heavy-big
                    span 2
                  span.list-text Снижение ставок таможенной пошлины - с 10% до 9.1%
                  a(class="list-link text-book-small", href="#", data-modal="#taxes-lower-modal") Читать далее
              li.text-section-laws
                .list-item.list-item-small
                  .list-index.text-heavy-big
                    span 3
                  span.list-text Стандарт авто - начиная с Euro 5
                  a(class="list-link text-book-small", href="#") Читать далее
              li.text-section-laws
                .list-item.list-item-small
                  .list-index.text-heavy-big
                    span 4
                  span.list-text Возраст авто - не старше 6 лет
                  a(class="list-link text-book-small", href="#") Читать далее
              li.text-section-laws
                .list-item.list-item-small
                  .list-index.text-heavy-big
                    span 5
                  span.list-text Действие закона - до конца 2018 года
                  a(class="list-link text-book-small", href="#") Читать далее
              
    section.section-prices#id-prices
      .container
        .content
          h2.text-main-heading Cтоимость машин из Европы vs стоимость машин в Украине
          .table-holder
            table
              thead
                tr
                  th Skoda Fabia 1.2 HTP
                  th Полная ставка акциза
                  th Сниженная ставка акциза
              tbody
                tr
                  th Стоимость в ЕС
                  th 3500 €
                tr
                  th Рабочий обьем двигателя, куб. см
                  th 1198
                tr
                  th Ввозная пошлина
                  th 9,1% - 319 €
                tr
                  th Акцизный сбор
                  th 2110 €
                  th 75 €
                tr
                  th НДС
                  th 1185 €
                  th 779 €
                tr
                  th Финальная стоимость
                  th 7114 €
                  th 4673 €
              tfoot
                tr
                  th Стоимость в Украине
                  th от 7000 €
                  th
                    .economy-price-holder.text-center
                      .economy-price-content
                        span.text-heavy-small.text-vertical-align.text-center Экономия
                          br
                          span.text-heavy-medium.text-big 3327 €
          .background-text.text-uppercase
            span В чем выгода
          .background-image
            img(src="images/bg/section_prices_car.jpg", alt="Skoda Fabia sample image")
            
    section.section-advantages#id-advantages
      .container
        .content
          h2.text-main-heading Ценность европейских машин выше из-за
          .list-container
            ul.list-content
              li
                .advantages-icon
                  img(src="images/icons/roads_icon.png", alt="Icon", srcset="images/icons/roads_icon-2X.png 2x")
                .advantages-text-small
                  p.text-light-medium Идеальных дорог
              li
                .advantages-icon
                  img(src="images/icons/tools_icon.png", alt="Icon", srcset="images/icons/tools_icon-2X.png 2x")
                .advantages-text-big
                  p.text-light-medium Современных станций ТО
              li
                .advantages-icon
                  img(src="images/icons/auto_icon.png", alt="Icon", srcset="images/icons/auto_icon-2X.png 2x")
                .advantages-text-small
                  p.text-light-medium Качественных запчастей
              li
                .advantages-icon
                  img(src="images/icons/umbrella_icon.png", alt="Icon", srcset="images/icons/umbrella_icon-2X.png 2x")
                .advantages-text-big
                  p.text-light-medium Обязательного полного страхования
              li
                .advantages-icon
                  img(src="images/icons/hand_icon.png", alt="Icon", srcset="images/icons/hand_icon-2X.png 2x")
                .advantages-text-big
                  p.text-light-medium Бережного европейского обращения    
                
    section.section-how#id-how
      .background-text.text-uppercase
        span процесс работы
      .container
        .content
          h2.text-main-heading Как мы работаем?
          .list-container
            ul.list-content
              li
                .how-icons
                  .column-left
                    .icon-base.text-vertical-align.text-center
                      img(src="images/icons/browser.png", alt="Icon", srcset="images/icons/browser-2X.png 2x")
                  .column-right
                    .icon-arrow.text-vertical-align
                      img(src="images/icons/arrow_icon.png", alt="Icon", srcset="images/icons/arrow_icon-2X.png 2x")
                .how-text
                  p.text-light-medium Вы оставляете заявку на сайте или по телефону
              li
                .how-icons
                  .column-left
                    .icon-base.text-vertical-align.text-center
                      img(src="images/icons/headphones.png", alt="Icon", srcset="images/icons/headphones-2X.png 2x")
                  .column-right
                    .icon-arrow.text-vertical-align
                      img(src="images/icons/arrow_icon.png", alt="Icon", srcset="images/icons/arrow_icon-2X.png 2x")
                .how-text
                  p.text-light-medium Мы проводим бесплатную консультацию, расчитываем стоимость растаможки и оформления авто
              li
                .how-icons
                  .column-left
                    .icon-base.text-vertical-align.text-center
                      img(src="images/icons/car.png", alt="Icon", srcset="images/icons/car-2X.png 2x")
                  .column-right
                    .icon-arrow.text-vertical-align
                      img(src="images/icons/arrow_icon.png", alt="Icon", srcset="images/icons/arrow_icon-2X.png 2x")
                .how-text
                  p.text-light-medium Подбор и покупка машины в Польше или Германии
              li
                .how-icons
                  .column-left
                    .icon-base.text-vertical-align.text-center
                      img(src="images/icons/wallet.png", alt="Icon", srcset="images/icons/wallet-2X.png 2x")
                  .column-right
                    .icon-arrow.text-vertical-align
                      img(src="images/icons/arrow_icon.png", alt="Icon", srcset="images/icons/arrow_icon-2X.png 2x")
                .how-text
                  p.text-light-medium Оформление и оплата налогов на границе с Украиной
              li
                .how-icons
                  .column-left
                    .icon-base.text-vertical-align.text-center
                      img(src="images/icons/note.png", alt="Icon", srcset="images/icons/note-2X.png 2x")
                .how-text
                  p.text-light-medium Растаможка машины в Украине
              li
                .how-icons
                .how-text
                  p.text-light-small Весь процесс занимает от 3 до 4 недель

    section.section-services#id-services
      .container
        .content
          h2.text-main-heading Полный пакет наших услуг включает в себя:
          .list-container
            ul.list-content
              li.text-section-services.text-light-medium
                .list-item.list-item-big
                  .list-index.text-heavy-big
                    span 1
                  span.list-heading Подбор 3-4 вариантов авто и общение с их владельцами
                  p.list-paragraph.text-book-small Мы используем как общедоступную базу б/у авто, так и свою базу официальных автодилеров. Все общение с иностранными автовладельцами на польском/немецком проходит с помощью наших менеджеров
              li.text-section-services.text-light-medium
                .list-item.list-item-big
                  .list-index.text-heavy-big
                    span 2
                  span.list-heading Визовая поддержка и планирование поездки
                  p.list-paragraph.text-book-small Сбор, подготовка и подача документов в польский / немецкий визовый центр.
              li.text-section-services.text-light-medium
                .list-item.list-item-big
                  .list-index.text-heavy-big
                    span 3
                  span.list-heading Сопровождение на территории Польши/Германии
                  p.list-paragraph.text-book-small Планирование графика встреч, диагностики авто, оформления процесса покупки, страхования и всех документов, связанных с этим. Сопровождение до границы с Украиной. Помощь в прохождении таможенного контроля и оформлении оплаты пошлин.
              li.text-section-services.text-light-medium
                .list-item.list-item-big
                  .list-index.text-heavy-big
                    span 4
                  span.list-heading Сопровождение на территории Украины
                  p.list-paragraph.text-book-small Оформление авто по месту прописки - растаможка, страхования, оплата всех налогов.
              li.text-section-services.text-light-medium
                .list-item.list-item-big
                  .list-index.text-heavy-big
                    span 5
                  span.list-heading Помощь в составлении и подаче всех документов на каждом из этапов
                  p.list-paragraph.text-book-small Составление  и подача документов - кропотливая работы, мы можем и подскажем всю необходимую информацию для коректного заполнения документов
              li.text-section-services.text-light-medium
                .list-item.list-item-big
                  button.button-order
                    span.text-heavy-medium.text-big 200 €
                    span.list-paragraph.text-book-small Стоимость услуг

    section.section-reviews#id-reviews
      .background-text.text-uppercase
        span отзывы о нас
      .container
        .content
          h2.text-main-heading Отзывы счастливых автовладельцев
          .slider-holder.double-slider
            .column-left
              .content-holder(data-id="0")
                .image-holder.avatar
                  img(src="images/content/user_avatar_1.jpg", alt="avatar")
                h3.text-light-medium Максим Иванов
                h4.text-medium Volkswagen Golf VI 1.6, 2010
                h5.text-medium 7300 €
                p.text-book-small Мы используем как общедоступную базу б/у авто, так и свою базу официальных автодилеров. Все общение с иностранными автовладельцами на польском/немецком проходит с помощью наших менеджеров
              .content-holder(data-id="1")
                .image-holder.avatar
                  img(src="images/content/user_avatar_1.jpg", alt="avatar")
                h3.text-light-medium Максим Иванов
                h4.text-medium Tesla Model S, 2015
                h5.text-medium 60000 €
                p.text-book-small Alias eligendi molestiae esse labore provident repudiandae, error reiciendis inventore, sapiente qui aspernatur! Ducimus laborum excepturi dignissimos culpa animi sunt, laudantium ex deserunt rem, nihil praesentium, quas odit hic cupiditate
              //- .content-holder(data-id="1")
              //-   .image-holder.avatar
              //-     img(src="http://a5.files.beautyeditor.ca/image/upload/c_fit,cs_srgb,dpr_1.0,q_80,w_620/MTIzNjEzMTkwMTk3MjQ5NTUw.jpg", alt="the teapot")
              //-   h3 Ivan Maximov
              //-   h4 Tesla Model S
              //-   h5 $60000
              //-   p Alias eligendi molestiae esse labore provident repudiandae, error reiciendis inventore, sapiente qui aspernatur! Ducimus laborum excepturi dignissimos culpa animi sunt, laudantium ex deserunt rem, nihil praesentium, quas odit hic cupiditate.
              //- .content-holder(data-id="2")
              //-   .image-holder.avatar
              //-     img(src="http://a4.files.beautyeditor.ca/image/upload/c_fit,cs_srgb,dpr_1.0,q_80,w_620/MTE5NDg0MDYzMzU1MjA5MjMx.jpg", alt="avatar")
              //-   h3 Pavel Morozov
              //-   h4 4etvero4ka
              //-   h5 $200
              //-   p A nam perspiciatis illum, rerum ad saepe. Repellat, minus repudiandae, dignissimos possimus voluptatem vel sint ex pariatur distinctio totam perferendis libero alias nisi, mollitia cumque hic tenetur neque quasi facilis?
              //- .content-holder(data-id="3")
              //-   .image-holder.avatar
              //-     img(src="http://a2.files.beautyeditor.ca/image/upload/c_fit,cs_srgb,dpr_1.0,q_80,w_620/MTIzNjEzMTkwMjAwMTk4Njcw.jpg", alt="avatar")
              //-   h3 Nobody
              //-   h4 Tavruha The Best
              //-   h5 $600
              //-   p Dolor suscipit quod, quas beatae commodi ipsum debitis illum perspiciatis aliquam, quibusdam dignissimos! Maiores, debitis fugiat dolores tempora asperiores placeat ipsam inventore, ullam quibusdam ducimus fugit odit reiciendis perspiciatis doloribus.
            .column-right
              .image-holder(data-id="0")
                img(src="images/content/slider_car_1.jpg", alt="content")
              .image-holder(data-id="1")
                img(src="https://unsplash.it/600/400?image=1074", alt="content")
              //- .image-holder(data-id="2")
              //-   img(src="https://unsplash.it/600/400?image=1069", alt="content")
              //- .image-holder(data-id="3")
              //-   img(src="https://unsplash.it/600/400?image=1080", alt="content")

    section.section-consult#id-consult
      .left-side
      .right-side
      .container
        .content
          .column-left
            h2.text-main-heading Запишитесь на бесплатную консультацию
            form.form-consult
              .form-consult-top
                span.form-label.text-bold-small.text-uppercase о себе
                input(class="text-book-small", type="text", placeholder="Имя", name="name")
                input(class="text-book-small", type="text", placeholder="Телефон", name="phone")
                input(class="text-book-small", type="text", placeholder="Email", name="email")
                select(class="text-book-small", name="country")
                  option(value="initial") Выберите страну
                  option(value="country-gr") Германия
                  option(value="country-pl") Польша
              .form-consult-bottom
                span.form-label.text-bold-small.text-uppercase машина
                select(class="text-book-small", name="type")
                  option(value="initial") Выберите тип
                select(class="text-book-small", name="fuel")
                  option(value="initial") Выберите топлево
                input(class="text-book-small", type="text", placeholder="Возраст авто", name="age")
                input(class="text-book-small", type="text", placeholder="Обьем двигателя", name="engine")
              input(class="text-heavy-small form-consult-submit", type="submit", placeholder="ОТПРАВИТЬ", name="submit")
          .column-right
            h2.text-main-heading После консультации:
            ul
              li
                span.text-light-medium Вы узнаете все формальности нового Закона;
              li
                span.text-light-medium Вы сможете спрогнозировать свой бюджет, учитывая все платежи и налоги;
              li
                span.text-light-medium И определитесь с маркой и моделью машины
    
    footer.footer-bottom
      .container
        .column-left
          .footer-logo
            a(href="#")
              img(src="images/icons/logo.png", alt="Main footer logo", srcset="images/icons/logo-2X.png 2x")
          ul.footer-contact.text-book-small
            li Главный офис - г. Киев
            li Ул. Саксаганского 123, оф. 20
            li 
              a(class="text-light-small", href='tel:+380934427800') +380 93 442 78 00
            li 
              a(href='mailto:drive@bamboocar.com.ua') drive@bamboocar.com.ua
        .column-right
          .fb-page(data-href='https://www.facebook.com/BambookAcademy/', data-width='330', data-height='155', data-small-header='true', data-adapt-container-width='true', data-hide-cover='false', data-show-facepile='true')
            blockquote.fb-xfbml-parse-ignore(cite='https://www.facebook.com/BambookAcademy/')
              a(href='https://www.facebook.com/BambookAcademy/') Bambook Academy

    script(type='text/javascript', src="js/main.js")

            
