//- index.jade
doctype html
html(lang = "ru")
  include includes/head.jade
  body
    #fb-root
      script.
        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.7";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
  
    .pagination
    header.header-top
      .container
        .column-left
          .header-logo
            a(href="#")
              img(src="images/icons/logo-top.png", alt="Main header logo")
        .column-right
          .header-call-us
            .call-us-icon.text-vertical-align
              img(src="images/icons/icon_phone.png", alt="Call us image")
            .call-us-text.text-vertical-align  
              a(class="text-light-small", href='tel:+380934427800') +380 93 442 78 00
          a(href="#")
            .header-call-back.text-center
              p.text-bold-small.text-uppercase.text-vertical-align Обратный звонок
              
    section.section-main
      .container
        .background-text.text-uppercase
          span bamboo car
        .content 
          h1.text-top-heading
            span.text-top-heading-highlight Экономия от 500 до 4000 евро 
            | при покупке б/у авто в Европе
          p.text-light Помогаем приобрести, растаможить и оформить б/у авто из Польши и Германии
          .background-image
            img(src="images/bg/section_main_car.jpg", alt="BMW 5 Series sample image")
        
    section.section-laws
      .container
        .content
          h2.text-main-heading Основные положения и выгоды Закона Украины №1389-19
          ul.list-content
            li.text-section-laws
              .list-item.list-item-big
                .list-index.text-heavy-big
                  span 1
                span.list-text Снижение акциза на автомобили - на 90%
                a(class="list-link text-book-small", href="#") Читать далее
            li.text-section-laws
              .list-item.list-item-big
                .list-index.text-heavy-big
                  span 2
                span.list-text Снижение ставок таможенной пошлины - с 10% до 9.1%
                a(class="list-link text-book-small", href="#") Читать далее
            li.text-section-laws
              .list-item.list-item-small
                .list-index.text-heavy-big
                  span 3
                span.list-text Стандарт авто - начиная с Euro 5
                a(class="list-link text-book-small", href="#") Читать далее
            li.text-section-laws
              .list-item.list-item-small
                .list-index.text-heavy-big
                  span 4
                span.list-text Возраст авто - не старше 6 лет
                a(class="list-link text-book-small", href="#") Читать далее
            li.text-section-laws
              .list-item.list-item-small
                .list-index.text-heavy-big
                  span 5
                span.list-text Действие закона - до конца 2018 года
                a(class="list-link text-book-small", href="#") Читать далее
              
    section.section-prices
      .container
        .content
          h2.text-main-heading Cтоимость машин из Европы vs стоимость машин в Украине
          .table-holder
            table
              thead
                tr
                  th Skoda Fabia 1.2 HTP
                  th Полная ставка акциза
                  th Сниженная ставка акциза
              tbody
                tr
                  th Стоимость в ЕС
                  th 3500 €
                tr
                  th Рабочий обьем двигателя, куб. см
                  th 1198
                tr
                  th Ввозная пошлина
                  th 9,1% - 319 €
                tr
                  th Акцизный сбор
                  th 2110 €
                  th 75 €
                tr
                  th НДС
                  th 1185 €
                  th 779 €
                tr
                  th Финальная стоимость
                  th 7114 €
                  th 4673 €
              tfoot
                tr
                  th Стоимость в Украине
                  th от 7000 €
                  th
                    .economy-price-holder.text-center
                      .economy-price-content
                        span.text-heavy-small.text-vertical-align.text-center Экономия
                          br
                          span.text-heavy-medium.text-big 3327 €
          .background-text.text-uppercase
            span В чем выгода
          .background-image
            img(src="images/bg/section_prices_car.jpg", alt="Skoda Fabia sample image")
            
    section.section-advantages
      .container
        .content
          h2.text-main-heading Ценность европейских машин выше из-за
          ul.list-content
            li
              .advantages-icon
                img(src="images/icons/roads_icon.png", atl="Icon")
              .advantages-text-small
                p.text-light-medium Идеальных дорог
            li
              .advantages-icon
                img(src="images/icons/tools_icon.png", atl="Icon")
              .advantages-text-big
                p.text-light-medium Современных станций ТО
            li
              .advantages-icon
                img(src="images/icons/auto_icon.png", atl="Icon")
              .advantages-text-small
                p.text-light-medium Качественных запчастей
            li
              .advantages-icon
                img(src="images/icons/umbrella_icon.png", atl="Icon")
              .advantages-text-big
                p.text-light-medium Обязательного полного страхования
            li
              .advantages-icon
                img(src="images/icons/hand_icon.png", atl="Icon")
              .advantages-text-big
                p.text-light-medium Бережного европейского обращения    
                
    section.section-how
      .background-text.text-uppercase
        span процесс работы
      .container
        .content
          h2.text-main-heading Как мы работаем?
          ul.list-content
            li
              .how-icons
                .column-left
                  .icon-base.text-vertical-align.text-center
                    img(src="images/icons/browser.png", atl="Icon")
                .column-right
                  .icon-arrow.text-vertical-align
                    img(src="images/icons/arrow_icon.png", atl="Icon")
              .how-text
                p.text-light-medium Вы оставляете заявку на сайте или по телефону
            li
              .how-icons
                .column-left
                  .icon-base.text-vertical-align.text-center
                    img(src="images/icons/headphones.png", atl="Icon")
                .column-right
                  .icon-arrow.text-vertical-align
                    img(src="images/icons/arrow_icon.png", atl="Icon")
              .how-text
                p.text-light-medium Мы проводим бесплатную консультацию, расчитываем стоимость растаможки и оформления авто
            li
              .how-icons
                .column-left
                  .icon-base.text-vertical-align.text-center
                    img(src="images/icons/car.png", atl="Icon")
                .column-right
                  .icon-arrow.text-vertical-align
                    img(src="images/icons/arrow_icon.png", atl="Icon")
              .how-text
                p.text-light-medium Подбор и покупка машины в Польше или Германии
            li
              .how-icons
                .column-left
                  .icon-base.text-vertical-align.text-center
                    img(src="images/icons/wallet.png", atl="Icon")
                .column-right
                  .icon-arrow.text-vertical-align
                    img(src="images/icons/arrow_icon.png", atl="Icon")
              .how-text
                p.text-light-medium Оформление и оплата налогов на границе с Украиной
            li
              .how-icons
                .column-left
                  .icon-base.text-vertical-align.text-center
                    img(src="images/icons/note.png", atl="Icon")
              .how-text
                p.text-light-medium Растаможка машины в Украине
            li
              .how-icons
              .how-text
                p.text-light-small Весь процесс занимает от 3 до 4 недель

    section.section-services
      .container
        .content
          h2.text-main-heading Полный пакет наших услуг включает в себя:
          ul.list-content
            li.text-section-services.text-light-medium
              .list-item.list-item-big
                .list-index.text-heavy-big
                  span 1
                span.list-heading Подбор 3-4 вариантов авто и общение с их владельцами
                p.list-paragraph.text-book-small Мы используем как общедоступную базу б/у авто, так и свою базу официальных автодилеров. Все общение с иностранными автовладельцами на польском/немецком проходит с помощью наших менеджеров
            li.text-section-services.text-light-medium
              .list-item.list-item-big
                .list-index.text-heavy-big
                  span 2
                span.list-heading Визовая поддержка и планирование поездки
                p.list-paragraph.text-book-small Сбор, подготовка и подача документов в польский / немецкий визовый центр.
            li.text-section-services.text-light-medium
              .list-item.list-item-big
                .list-index.text-heavy-big
                  span 3
                span.list-heading Сопровождение на территории Польши/Германии
                p.list-paragraph.text-book-small Планирование графика встреч, диагностики авто, оформления процесса покупки, страхования и всех документов, связанных с этим. Сопровождение до границы с Украиной. Помощь в прохождении таможенного контроля и оформлении оплаты пошлин.
            li.text-section-services.text-light-medium
              .list-item.list-item-big
                .list-index.text-heavy-big
                  span 4
                span.list-heading Сопровождение на территории Украины
                p.list-paragraph.text-book-small Оформление авто по месту прописки - растаможка, страхования, оплата всех налогов.
            li.text-section-services.text-light-medium
              .list-item.list-item-big
                .list-index.text-heavy-big
                  span 5
                span.list-heading Помощь в составлении и подаче всех документов на каждом из этапов
                p.list-paragraph.text-book-small Составление  и подача документов - кропотливая работы, мы можем и подскажем всю необходимую информацию для коректного заполнения документов
            li.text-section-services.text-light-medium
              .list-item.list-item-big
                button.button-order
                  span.text-heavy-medium.text-big 200 €
                  span.list-paragraph.text-book-small Стоимость услуг
    section.section-reviews
    section.section-consult
      .left-side
      .right-side
      .container
        .content
          .column-left
            h2.text-main-heading Запишитесь на бесплатную консультацию
          .column-right
            h2.text-main-heading После консультации:
            ul
              li
                span.text-light-medium Вы узнаете все формальности нового Закона;
              li
                span.text-light-medium Вы сможете спрогнозировать свой бюджет, учитывая все платежи и налоги;
              li
                span.text-light-medium И определитесь с маркой и моделью машины
    
    footer.footer-bottom
      .container
        .column-left
          .footer-logo
            a(href="#")
              img(src="images/icons/logo-bottom.png", alt="Main footer logo")
          ul.footer-contact.text-book-small
            li Главный офис - г. Киев
            li Ул. Саксаганского 123, оф. 20
            li 
              a(class="text-light-small", href='tel:+380934427800') +380 93 442 78 00
            li 
              a(href='mailto:drive@bamboocar.com.ua') drive@bamboocar.com.ua
        .column-right
          .fb-page(data-href='https://www.facebook.com/BambookAcademy/', data-width='380', data-height='155', data-small-header='true', data-adapt-container-width='true', data-hide-cover='false', data-show-facepile='true')
            blockquote.fb-xfbml-parse-ignore(cite='https://www.facebook.com/BambookAcademy/')
              a(href='https://www.facebook.com/BambookAcademy/') Bambook Academy


            
